<a href="https://colab.research.google.com/github/20193253/py01/blob/master/notebook/ch2_code03_py01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code03.ipynb
## py01
- Dictionary
- Set
- Bool
- Variable

In [1]:
# ch2_07_dictionary.py

print("딕셔너리: 딕셔너리(Dictionary)란?")
# 딕셔너리란 대응 관계를 나타내는 자료형.
# 연관 배열(Associative array) 또는 해시(Hash)
# 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형
#
# 기본 딕셔너리의 모습
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
# Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.
# 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"} 
dic
# Key는 각각 'name', 'phone', 'birth'
# 각 Key에 해당하는 Value는 'pey', '0119993323', '1118'

딕셔너리: 딕셔너리(Dictionary)란?

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

### 여러 가지 딕셔너리

In [2]:
# 여러 가지 딕셔너리
a = {1: "hi"} # 딕셔너리는 인덱싱 대신 Key값을 사용
a[1] # Key값에 할당되는 Value 출력

'hi'

In [6]:
a = {"a": [1, 2, 3]}  # value에는 복합 자료형도 사용된다.
len(a) # 요소가 하나
# a[a]  # TypeError # a라는 딕셔너리에 딕셔너리 자체를 대입하였다
a["a"]

[1, 2, 3]

In [11]:
#
# 딕셔너리 쌍 추가하기
#
a = {1: "a"}
print(a)
a[2] = "b"  # 2 Not index, 2 is a key.
a
a["name"] = "pey"
a
a[3] = [1, 2, 3]
a

{1: 'a'}

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [12]:
#
# 딕셔너리 쌍 삭제하기
#
del a[1] # 1 is a key, 1 is never an index.
a # 딕셔너리는 튜플과 다르게 가변적이다.

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [13]:
#
print("딕셔너리: 사용 방법")
d = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
print(d)
d["손흥민"]

딕셔너리: 사용 방법
{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

'축구'

In [15]:
#
# 딕셔너리에서 Key 사용해 Value 얻기
#
grade = {"pey": 10, "julliet": 99}
grade["pey"], grade["julliet"]

(10, 99)

In [18]:
#
a = {1: "a", 2: "b"}
a[1]  # 1은 key
#
a = {"a": 1, "b": 2}
a["b"]
a[b]  # NameError: name 'b' is not defined

NameError: ignored

In [22]:
#
dic = {"name": "pey", "phone": "0109993323", "birth": "1118"}
dic["birth"], dic["phone"]
#
# 딕셔너리 만들 때 주의할 사항
# 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면
# 하나를 제외한 나머지 것들이 모두 무시된다
#
a = {1: "a", 1: "b"}
a[1] # 맨 마지막에 할당된 Key 값을 사용

'b'

### 딕셔너리: 관련 내장 함수들

In [25]:
#
print("딕셔너리: 관련 내장 함수들")
#
# Key 리스트 만들기(keys)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.keys()
list(a.keys()) # [리스트] 로 출력
#################################################
# 기본적인 반복(iterate) 구문(예: for문)을 실행
#################################################
for k in a.keys(): 
    print(k)

딕셔너리: 관련 내장 함수들
name
phone
birth

In [26]:
#
# Value 리스트 만들기(values)
#
a.values() # 딕셔너리에서 값만 출력
list(a.values())

['pey', '0119993323', '1118']

In [27]:
#
# Key, Value 쌍 얻기(items)
#
a.items()  # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [28]:
#
#
# Key: Value 쌍 모두 지우기(clear)
#
a.clear() 
a # null dictionary

{}

In [30]:
#
# Key로 Value얻기(get)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.get("name")  # a['name']
a.get("phone")  # a['phone']

'0119993323'

In [31]:
print(a["nokey"])  # KeyError, 없는 Key값

KeyError: ignored

In [32]:
a

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

In [36]:
#
# get(x(존재하지 않는 Key)), '디폴트 값')
#
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 설정.
#
a.get("foo", "bar") 
a.get("name", "bar")

'pey'

In [38]:
#
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
# "name" in a # name이라는 Key가 딕셔너리 안에 있으면 True, 없으면 False
"foo" in a

False

## Set

In [41]:
# ch2_08_set.py

print("집합: 집합(Set)이란?")
# 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
# 중복된 값을 허용하지 않는다. 
#
# set 키워드를 사용해서 집합자료형을 만든다.
#
s1 = set([1, 2, 3])
s1 # {...} : 딕셔너리 / Set
s1n = set([1, 2, 3, 2])
s1n
s2 = set("Hello")
s2 # {'H', 'e', 'l', 'o'} : 중복을 허용하지 않는다.

집합: 집합(Set)이란?

{'H', 'e', 'l', 'o'}

In [45]:
#
# 집합 자료형의 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다(Unordered).
# *** set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다.
#
# s1 = set([1,2,3])
# s1[0] # TypeError: 'set' object does not support indexing, Set은 인덱싱을 지원하지 않는다.
l1=list(s1)
print(l1) # 리스트는 인덱싱을 허용한다
l1[0]

[1, 2, 3]

1

In [46]:
#
t1=tuple(s1)
print(t1)
t1[0]

(1, 2, 3)

1

In [53]:
#
# 교집합, 합집합, 차집합 구하기
#
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 
# 1. 교집합
#
# s1 & s2
s1.intersection(s2)
# 
# 2. 합집합
#
# s1 | s2 # s1 or s2 # {1, 2, 3, 4, 5, 6, 7, 8, 9} : Set은 중복을 허용하지 않는다
s1.union(s2)
# 
# 3. 차집합
#
s1 - s2
s2 - s1 # 교환법칙은 성립하지 않는다
# s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

### 집합 (set): 관련 내장 함수들

In [54]:
#
print("집합 (set): 관련 내장 함수들")
#
# 값 1개 추가하기(add)
#
s1 = set([1, 2, 3])
s1.add(4)
s1

집합 (set): 관련 내장 함수들

{1, 2, 3, 4}

In [57]:
#
# 값 여러 개 추가하기(update)
#
s1 = set([1, 2, 3])
s1.update([4,5,6])
s1
s1.add(5)
s1

{1, 2, 3, 4, 5, 6}

In [58]:
#
# 특정 값 제거하기(remove)
#
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [60]:
#################################################
# frozenset()  # immutable set
#################################################
small_primes = frozenset([2, 3, 5, 7])
bigger_primes = frozenset([5, 7, 11])
# small_primes.add(11)  # we cannot add to a frozenset -> AttributeError

# small_primes.remove(2)  # neither we can remove -> AttributeError

# small_primes & bigger_primes  # intersect, union, etc. allowed
# frozenset({5, 7})

AttributeError: ignored

## bool (불)

In [62]:
# ch2_09_bool.py

print("불: 불 자료형이란?")
# 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.
# 불 자료형은 다음 2가지 값만을 가질 수 있다.
# True - 참
# False - 거짓
# True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고
# 첫 문자를 항상 대문자로 사용해야 한다.
#
a = True
b = False
type(a), type(b), a, b

불: 불 자료형이란?

(bool, bool, True, False)

In [66]:
#
# 참과 거짓
#
1 == 1
2 > 1
2 < 1
True + 1 # True에 기본적으로 할당된 값은 정수 1이다
False + 1 # False에 기본적으로 할당된 값은 정수 0이다

2

### 자료형의 참과 거짓
- string
- list
- tuple
- dictionary
- set
- bool

In [73]:
#
# 자료형의 참과 거짓
#
bool("python")
bool("") # 공백 문자열 : False , 데이터 타입이 null일 경우 False 출력
bool([1, 2, 3])
bool([2, 3])
bool([])
bool(()) # null set 
bool({}) # null dictionary
bool(1)
bool(0)
bool(None)

False

### Quiz

In [76]:
bool(0), bool([0]), bool((0)), bool((0, )) #((0)) == 0

(False, True, False, True)

In [77]:
#
# 불 값을 이용한 코드
#
a = [1, 2, 3, 4]
#
while a:
    print(a.pop()) # 끝에서부터 null이 될 때까지 출력

4
3
2
1

In [78]:
#
if []:
    print("참")
else:
    print("거짓")

거짓

In [80]:
############################
#  Representation error
## double precision representation of floating-point numbers
############################
1-0.9 # underflow 
# 0.09999999999999998
1-0.9==.1
# False

False

In [81]:
##### 유효자리 지정 라이브러리
import decimal
x=decimal.Decimal(3.14)
y=decimal.Decimal(2.74)
x,y

x*y
# Decimal('8.603600000000001010036498883')
decimal.getcontext().prec=4
x*y
# Decimal('8.604')

Decimal('8.604')

## 변수

In [82]:
# ch2_10_variable.py

print("변수: 변수란?")
#
# 변수는 자료(값)을 저장하는 공간이다.
#
a = [1, 2, 3]
print(a)
id(a)  # a 변수가 가리키는 메모리의 주소

변수: 변수란?
[1, 2, 3]

140515713554184

In [89]:
# list
a = [1, 2, 3]
id(a)
b = a # 직접대입
id(a), id(b) # 직접대입 시 같은 주소를 공유
a is b # 두 개의 객체의 값이 같은가 ?
a[1] = 4
a
a, b # a와 b는 같은 주소를 공유하기 때문에 b 역시 값이 바뀐다
a is b
b = [1, 2, 3] # b에 새로운 값을 대입하면 주소가 변경된다.
id(a), id(b)
a is b # 값이 같아도 주소가 다르면 False 출력

False

In [94]:
#
# b 변수를 생성할 때 a 변수의 값을 가져오면서
# a와는 다른 주소를 가리키도록 만들수는 없을까?
# 다음 2가지 방법이 있다.
#
# 1. [:] 이용
#
a = [1, 2, 3]
b = a[:] # 값은 같으나 다른 주소를 가진다
id(a), id(b)
a[1] = 4
a, b
#
# 2. copy 모듈 이용
#
a = [1, 2, 3]
from copy import copy # copy 함수를 가져온다
b = copy(a) 

b is a, a is b

(False, False)

In [96]:
#
# 변수를 만드는 여러 가지 방법
#
a, b = ("python", "life")
print(a)
print(b)
a, b

python
life

('python', 'life')

In [99]:
[a, b] = ["python", "life"]
a, b

a = 3
b = 5
a, b = b, a # swap
a, b

(5, 3)