<a href="https://colab.research.google.com/github/20193253/py01/blob/master/notebook/ch4_exercises_py01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch4_exercises.ipynb

## Q1.
> 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [0]:
# [Q1] Code  

def is_odd(num) :
  if num > 0 :
    if num % 2 == 0 :
      print("짝수입니다")
    else :
      print("홀수입니다")
  else :
    print("자연수가 아닙니다")

In [0]:
is_odd(1)
is_odd(2)
is_odd(0)
is_odd(-1)
is_odd(-2)

홀수입니다
짝수입니다
자연수가 아닙니다
자연수가 아닙니다
자연수가 아닙니다

## Q2.
> 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. 
- (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
- ※ 평균 값을 구할 때 len 함수를 사용해 보자.

In [0]:
# [Q2] Code

def cal_avg(*args) :
  return sum(args) / len(args)

In [0]:
print(cal_avg(13, 49, 51, 35, 44))
print(cal_avg(99, 101, 26, 77, 49, 222))

38.4
95.66666666666667

## Q3.
> 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

```
---
> 이 프로그램을 수행해 보자.

>> 첫번째 숫자를 입력하세요:3  
>> 두번째 숫자를 입력하세요:6
- 두 수의 합은 36 입니다
- 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.  
이 프로그램의 오류를 수정해 보자.

In [0]:
# [Q3] Code

input1 = input("첫번째 숫자를 입력하세요:") 
input2 = input("두번째 숫자를 입력하세요:")
 
total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다

In [0]:
# 입력값은 언제나 문자열이다.

print(type(input1))
print(type(input2))

# 그러므로 input1 + input2 는 문자열 연산이다.

print(type(total))

<class 'str'>
<class 'str'>
<class 'str'>

In [0]:
# 오류를 수정하려면 int() 함수를 사용하여 정수 타입으로 변환해야 한다.

input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)

print("두 수의 합은 %s 입니다" %  total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [0]:
# total 역시 정수 타입으로 변환된 것을 확인할 수 있다.

type(total)

int

## Q4.
> 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

```
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
```

In [0]:
# [Q4] Code

# 1. 문자열 연산

# 큰따옴표로 둘러싸인 문장은 문자열의 '+' 연산과 동일하다.
# 제시된 문자열을 더하여 확장된 결괏값이 출력된다.

print("you" "need" "python")
print("you" + "need" + "python")

youneedpython
youneedpython

In [0]:
# 2. 리스트를 문자열로 변환 

# join() 사용 시 특정 구분자("") 와 함께 문자열로 변환되어 출력

print("".join(["you", "need", "python"])) # ["you", "need", "python"] : 문자열을 요소로 가지는 리스트

# 띄어쓰기를 포함하여 출력할 경우

# print(" ".join(["you", "need", "python"]))

youneedpython

In [0]:
# 3. 문자열 띄어쓰기

# 문자열 띄어쓰기는 ',' 를 사용한다.

print("you", "need", "python")

# 따라서 출력결과가 다른 것 하나는 띄어쓰기가 된 위 문장이다.

you need python

## Q5.
> 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

```
>> 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다.

>> 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [0]:
# [Q5] Code

# 1. close() 사용

f1 = open("test.txt", 'w')

f1. write("Life is too short")

f1.close()

In [0]:
# 2. with 사용

with open("test.txt", "w") as f2 :
  f2.write("Life is too short")

In [133]:
f3 = open("test.txt", 'r')

print(f3.read())

f3.close()

Life is too short

## Q6.
> 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. 
- (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [134]:
# [Q6] Code

user_data = input("데이터를 입력하세요 : ")

f4 = open("test.txt", 'a')

f4.write("\n")
f4.write(user_data)

f4.close()

데이터를 입력하세요 : data

In [136]:
f5 = open("test.txt", 'r')

print(f5.read())

f5.close()

Life is too short
data

## Q7.
> 다음과 같은 내용을 지닌 파일 foo1.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

>> Life is too short  
>> you need java

- ※ replace 함수를 사용해 보자.

In [0]:
# [Q7] Code-1

f6 = open("foo1.txt", 'w')

f6.write("Life is too short\nyou need java")

f6.close()

In [0]:
f7 = open("foo1.txt", 'r')

data = f7.read()

replace_data = data.replace("java", "python")

In [0]:
f8 = open("foo1.txt", 'w')

f8.write(replace_data)

f8.close()

In [141]:
f9 = open("foo1.txt", 'r')

print(f9.read())

Life is too short
you need python

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch4_exercises_id.ipynb